@import '_variables';

.window {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 100%;
    min-height: 100%;

    .offline-banner {
        background-color: $main-color;
        flex: 0 1 $banner-height;
        .offline-text {
            color: #000;
            font-size: 1.6rem;
            line-height: 2rem;
            margin: 0;
            padding: 0.5rem;
            vertical-align: middle;
            text-align: center;
        }
    }

    .main {
        width: 100%;
        flex: 100 0 auto;
        position: relative;
    
        .wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.toast-area {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    width: calc(100% - 1rem);
    max-height: 11rem;
    z-index: 200;
    overflow: hidden;

    @media(min-width: $screen-sm-min) {
        top: inherit;
        bottom: 2rem;
        left: 2rem;
        right: inherit;
        width: 32rem;
        max-height: 55rem;
    }

    .toast-stack {
        display: flex;
        height: 100%;
        flex-direction: column;

        @media(min-width: $screen-sm-min) {
            flex-direction: column-reverse;
        }

        .toast-wrapper {
            flex: 1 1 auto;
            margin: 0.5rem 0;
            position: relative;
        }
    }
}
