<div class="container">
    <div class="row size-limited create-row">
        <div class="col-xs-12">
            <a class="create-link btn btn-primary" role="button" [routerLink]="['/new']">Create a post</a>
            <button class="logout btn btn-error" (click)="logOut()">Log Out</button>
        </div>
    </div>
    <div class="feed-container">
        <div class="row size-limited" *ngFor="let post of posts;">
            <div class="card-container">
                <post-card [post]="post"></post-card>
            </div>
        </div>
    </div>
</div>
