<div class="card">
    <div class="votes">
        <vote-block [postId]="post?.PostId" [voteCount]="post?.Score" [yourVote]="post?.YourVote"></vote-block>
    </div>
    <div class="content">
        <p class="post-title">
            {{post?.Title}}
        </p>
        <p class="post-body">
            {{post?.Body | shorten:80}}
        </p>
        <span class="timeago">{{post?.PostDate | timeago}}</span>
        <a class="view-replies" [routerLink]="['/', post?.PostId]">view discussion</a>
    </div>
</div>
